table {
  width: 100%;
}

.mat-column-codFornecedor {
  border-right: 1px solid #bdbdbd;
  text-align: center;
}
.mat-column-nomeFantasia {
  border-right: 1px solid #bdbdbd;
  text-align: center;
}

.mat-column-email {
  border-right: 1px solid #bdbdbd;
  text-align: center;
}

.mat-column-categoria {
  border-right: 1px solid #bdbdbd;
  text-align: center;
}

.mat-column-telefone {
  border-right: 1px solid #bdbdbd;
  text-align: center;
}
.mat-column-cnpj {
  border-right: 1px solid #bdbdbd;
  text-align: center;
}

.mat-column-grupo {
  border-right: 1px solid #bdbdbd;
  text-align: center;
}

.mat-column-status {
  border-right: 1px solid #bdbdbd;
  text-align: center;
}

.mat-column-acoes {
  border-right: 1px solid #bdbdbd;
  text-align: center;
}
